.background {
    background-image: url("../img/background 5.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #93D9F5;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
span.glyphicon{
	margin-right:10px;
}
span a{
	margin: 10px;
	color: #818181;
}
.logo{
	height: 30px;
	width: 30px;
	border-radius: 40px;
	margin-left: 20px;
}

.container{
	padding-bottom: 50px;
	
}
button.space{
		width:120px;
		background-color:#93D9F5;
		height: 40px;
		color: white;
		margin-top: 20px;
		font-weight: bold;
		font-size: 17px;
}	
h2{
	color: black;
	font-weight: bold;
	margin-top: 40px;
}
h4{
/*	margin-top: px;*/
	font-weight: bold;
	color: black;
}

.on_demand{
	margin-top: 50px;
}
.picture1{
	width: 100%;
	border-radius: 0px;
	margin: 20px;
}
h5{
	font-size: 20px;
	color:white;
}
.footer a{
	font-size: 30px;
	margin: 10px;
}

.book{
		margin-left: 30px;
	}
@media only screen and (min-width: 500px){
	.background {
	    background-image: url("../img/background 5.jpg");
	    background-repeat: no-repeat;
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    -o-background-size: cover;
	    background-size: cover;
	}
	
	.venue{
		background-color: #93D9F5;
		color: white;
		height: 20px;
	}

	h4{
		margin-top: 25px;
		font-weight: bold;
		color: black;
	}
	.input-group{
		margin-top: 80px;
	}
	.container{
		padding-bottom: 80px;
	
	}	

	button.space{
		width:120px;
		background-color:#93D9F5;
		height: 50px;
		color: white;
		margin-top: 20px;
		font-weight: bold;
		font-size: 17px;
	}	

	.footer a{
		font-size: 30px;
		margin: 10px;
	}
	.book{
		margin-left: 150px;
	}

}

@media only screen and (min-width: 750px){
	.background {
	    background-image: url("../img/background 5.jpg");
	    background-repeat: no-repeat;
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    -o-background-size: cover;
	    background-size: cover;
	}
	
	button.space{
		width:120px;
		background-color:#93D9F5;
		height: 35px;
		color: white;
		margin-top: 32px;
		font-weight: bold;
		font-size: 17px;
		margin-right: 250px;

	}	
	.input-group{
		margin-top: 35px;
	}
	.venue{
		background-color: #93D9F5;
		color: white;
		height: 20px;
	}
	.footer a{
		font-size: 30px;
		margin: 10px;
	}
	.book{
		margin-left: 250px;
	}

}
@media only screen and (min-width: 950px){

body{
	width: 950px;
	margin-left: auto;
	margin-right: auto;
}
	.background {
	    background-image: url("../img/background4.png");
	    background-repeat: no-repeat;
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    -o-background-size: cover;
	}	
	button.space{
		margin-top: 150px;
		height: 30px;
	}
	.input-group{
		margin-top: 150px;
		width:400px;
		margin-left: 100px;
	}
	.venue{
		background-color: #93D9F5;
		color: white;
		height: 20px;
	}
	h4{
		font-weight: bold;
		color: black;
	}
	.footer a{
		font-size: 30px;
		margin: 10px;
	}
	.book{
		margin-left: 400px;
	}


}
